# Token generado en Meta Developers
WHATSAPP_TOKEN=PEGA_AQUI_TU_TOKEN

# ID del número de teléfono que viste en Meta
PHONE_NUMBER_ID=1148489938347953

# ID de la cuenta de WhatsApp Business
WHATSAPP_BUSINESS_ACCOUNT_ID=1551230176423290

# Token inventado por ti para verificar el webhook
VERIFY_TOKEN=lordart_bot_2026

# Versión de Graph API que aparece en tu panel
GRAPH_API_VERSION=v25.0

# Número del administrador para enviarte borradores del canal
ADMIN_PHONE=57TU_NUMERO

APP_PORT=3000